{# 
    ====================================================================
    Name:           content-columns.twig
    Type:           Block 
    Since:          0.0.1
    Description:    A content columns block. 
    Available vars: id (of block), classes (of block), {fields by key}, site
    ====================================================================
#}

<div class="block block--image-content  {{classes}} {{bgColor}} {{padding}} {{margin}}">

	<div class="container">

		<div class="md:flex md:space-x-8">
			{% for column in column %}
				<div class="md:flex-1">
					{% include "partials/heading.twig" with {heading: column.heading} %}
					<div class="prose mt-4 max-w-none">
						{{column.content|raw}}
					</div>
					{% if column.buttons %}
						<div class="mt-8">
							{% for button in column.buttons %}
								{% include "partials/button.twig" with button %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

	</div>
</div>
